@import "variables";
@import "maps";

//EXTEND
.iconos-redes{
    @include size(auto, 100px, 10px);
    display: inline;
}

/* FOOTER */
footer{

    background: $footer-background-color;
    height: $footer-height;
    margin-top: 70x;
    padding-top: 10px;

    p{    
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }

    div {
        text-align: center;

        span ul li{  
            @extend .iconos-redes;
        } 

    }

    img{
        width: 50px;
        object-fit: contain;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }

}


/* MAPS REDES*/
@each $red, $color in $redes {
    .red-#{$red}{
        height: auto;
        display: inline;
        margin: 10px;
        color: $color;
    }
}