@import "variables";

//CENTRAR GRILLAS
.grillaCentrada{
    display: flex;
    justify-content: center;
}

//GRILLA DE PRODUCTOS
.gridProductos{
    display: grid;
    grid-template-columns: 0.0fr 1fr 1fr 1fr; 
    grid-template-rows: 0fr 1.4fr 1fr 1fr; 
    grid-template-areas: 
    "aside tituloGaleria tituloGaleria tituloGaleria"
    "aside galeria galeria galeria"
    "aside galeria galeria galeria"
    "aside galeria galeria galeria"; 
    width: 90%; 
}

.aside{
    grid-area: aside;
    width: 200px !important;
    padding: 30px 3px;
    font-family: 'Bebas Neue', cursive;
    background-color: $aside-background-color;
    border: 1px solid rgba(255, 122, 39, 0.477);

    ul {
        list-style: none;
        padding: 5px;
        font-size: 20px;
        border-radius: 3px;

        /* Hijos de la lista aside*/
        ul{
            li{
                margin: 5px 0;
                padding: 0 20px;  
                background-color: $barrabusqueda-background-color;

                a{
                    width: 100%;
                }
            }
        }
    }

    li{
        margin: 1px 0;
        border-radius: 5px;
        background-color: $aside-background-color-button;
        box-shadow: -2px -1px 10px -2px rgba(120,120,120,0.75);
        -webkit-box-shadow: -2px -1px 10px -2px rgba(120,120,120,0.75);
        -moz-box-shadow: -2px -1px 10px -2px rgba(120,120,120,0.75);

        &:hover {
            background-color: white;
            border-radius: 3px;
        }

        li{
            &:hover {
                background-color:  $aside-background-color-button;
                border-radius: 3px;
                
            }
        }
    }

    .btn{
        font-size: 25px !important;
        width: 100%;
    } 
}

.btn{
    font-size: 18px !important;
} 

.tituloGaleria{
    grid-area:tituloGaleria ;
    border: 2px solid;
    padding: 10px;
    background-color: #fef0e786;
    border: 1px solid rgba(255, 122, 39, 0.477);
}

.galeria {
    grid-area: galeria; 
    background-color: #fef0e786;
    border: 1px solid rgba(255, 122, 39, 0.477);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

//TARJETAS DE LA GALERIA DE PRODUCTOS
  .card{
    width: 13rem;
    margin: 7px 2px;
    box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);   
    text-align: center;

    &:hover{
        transform: scale(1.05);
    }
}


//PODUCTOS VIEW
.productoView {
    display: grid; 
    grid-auto-flow: row;
    grid-template-columns: 2fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
        "foto descripcion descripcion"
        "fotosMiniatura descripcion descripcion"; 
    width: 90%; 
    background-color: #fef0e7;
    margin: 40px;

    .row{
        justify-content: space-evenly !important;
    }
}

.foto { 
    grid-area: foto;
    text-align: center;
    margin-top: 10px;

    img{
        max-width: 100%;
        height: auto;
    }
}

.fotosMiniatura {
    grid-area: fotosMiniatura;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    
    .muestra{
        display: flex;
        justify-content: center;
        
        div{
            margin: 8px;
        }

        img{
            max-width: 100%;
            height: auto;
            margin: 5px;
         }
    }

 }

 .descripcion { 
    grid-area: descripcion; 
    flex-wrap: wrap;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    p {
        padding: 10px;
    }
    .title{
        font-size: 20px;
        border-top: solid 1px rgba(153, 153, 153, 0.596);
    }
    .codigo{
        color: #999;
        font-size: 15px;
    }
    .stock{
        display: inline-block;
        background-color: #01b63a;
        font-weight: bold;
        color: white;
    }
    .precio{
        font-weight: bold;
        font-size: 20px;
        color:red;
        border-top: solid 1px rgba(153, 153, 153, 0.596);
    }
    .cantidad{
        height: 35px;
    }
}

// TEXTOS DE LA TARJETA DE PRODUCTO VIEW
.card-text{
    text-align: center;
}

.stock{
    text-transform: uppercase;
    color: green;
    font-size: 13px;
}

.precio{
    /* text-transform: uppercase; */
    color:red;
    font-size: 20px;
}
//***************************************