@import "variables";



/* HEADER */

.comunicacion{
    background-color: $nav-font-color;
    text-align: center;
    color: white;
}

.barraHeader {
    background: $header-background;
    height: $header-height;
}

.iconosHeder {
    text-align: right;
    margin-right: 20px;
    display: flex;
    justify-content: end;
    font-size: 1rem;


    img{
        @include size(auto,50px,10px);
        object-fit: contain;
        
        &:hover{
            cursor: pointer;
            transform: scale(1.2); 
        }
    }
}
