//VARIABLES

//TITULOS
$titulos-font-color:#ffffff;
$titulos-h1-font-size: 7rem;
$titulos-h1-font-family: 'Smooch', cursive;
$titulos-h3-Contacto-font-family:Verdana, Geneva, Tahoma, sans-serif;
$titulos-h3-color: #e00404;
$titulos-h2-font-family:'Bebas Neue', cursive;
$titulos-h5-color: #585757;

//HEADER
$header-background: linear-gradient(90deg, #ffe4d3 0%,#ffaa75 100%);
$header-height: 195px;

//NAV
$nav-color: #fef0e7;
$nav-font-color: red;
$nav-font-family:'Bebas Neue', cursive;
$nav-font-size: 5vh;
$nav-font-color: #ff7700;

//BODY
$body-background-color: linear-gradient(90deg, #ffe4d3 0%,#ffaa75 100%);


//FOOTER
$footer-background-color:linear-gradient(90deg, #ffe4d3 0%,#ff7a27 100%);
$footer-height:120px;

//WHATSAPP
$Whatsapp-color: #0df053;


//*****MEDIAQUERYS******

//PUNTOS DE QUIEBRE
$primerQuiebre: 710px;
$segundoQuiebre: 481px;

